




<!DOCTYPE HTML>
<html lang="fr" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="A quick overview of the features of this theme" />
  <link rel="icon" type="image/svg+xml" href="https:&#x2F;&#x2F;www.getzola.org&#x2F;favicon.ico" />
  <meta property="og:title" content="Features ⋅ Demo course" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="fr_FR" />
  <meta property="og:site_name" content="Demo course" />
  <meta property="og:url" content="https:&#x2F;&#x2F;zola-themes-demos.github.io&#x2F;course&#x2F;guide&#x2F;features&#x2F;" />
  <meta property="og:description" content="A quick overview of the features of this theme" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Features ⋅ Demo course" />
  <meta name="twitter:description" content="A quick overview of the features of this theme" />
  <meta name="twitter:url" content="https:&#x2F;&#x2F;zola-themes-demos.github.io&#x2F;course&#x2F;guide&#x2F;features&#x2F;" />
  <meta name="twitter:card" content="summary" />
  
  
  <meta property="og:image" content="https://zola-themes-demos.github.io/course/https://images.unsplash.com/photo-1550684848-fac1c5b4e853?w=1770&q=80" />
  <meta name="twitter:image" content="https://zola-themes-demos.github.io/course/https://images.unsplash.com/photo-1550684848-fac1c5b4e853?w=1770&q=80" />
  
  <title>Features ⋅ Demo course</title>
  <link rel="stylesheet" href="https://zola-themes-demos.github.io/course/site.css?h=dbc406d2f9b11f8421d6" media="all" />
  
  <style>
    * {
      --primary: #2686d1;

      --accent: #9b68bc;
    }
  </style>
</head>

<body>
  <header>
    <h1><a href="/">Demo course</a></h1>
    <img src="https:&#x2F;&#x2F;www.getzola.org&#x2F;favicon.ico" alt="The Zola logo : a white Z on a black square" style="border: none; width: 50px;" />
  </header>
  
  <main>
    
    
    
    
    <a href="https:&#x2F;&#x2F;zola-themes-demos.github.io&#x2F;course&#x2F;">Home</a>
    
    
    &mdash;
    <a href="https:&#x2F;&#x2F;zola-themes-demos.github.io&#x2F;course&#x2F;guide&#x2F;">Guide</a>
    
    <h1>Features</h1>
    
    




    



    
    
        
        
        
            
                
            
        
            
        
    

<p>This theme allows you to publish only courses/tutorials structured in
parts and subparts, using Zola.</p>
<p>It automatically links pages of the course with the next and previous ones
for easy navigation. There is also a navigation bar at the top of each page
to easily navigate the whole tutorial, and for the reader to never be lost.</p>
<p>Each page can have an illustration.</p>
<p>It lets you customize some parts of the site, like the color palette.</p>
<p>It also features a light/dark mode switcher.</p>
<p>It also has some SEO features.</p>
<p>It was made for french courses, so a few parts of the interface may be in french.
You can easily adapt it to your language by editing the files in <code>themes/zola-theme-course/templates/</code>.</p>
<h2 id="demo-of-the-style-sheet">Demo of the style sheet</h2>
<h2 id="headers">Headers</h2>
<h1 id="h1">H1</h1>
<h2 id="h2">H2</h2>
<h3 id="h3">H3</h3>
<h4 id="h4">H4</h4>
<h5 id="h5">H5</h5>
<h6 id="h6">H6</h6>
<h2 id="emphasis">Emphasis</h2>
<p>Emphasis, aka italics, with <em>asterisks</em> or <em>underscores</em>.</p>
<p>Strong emphasis, aka bold, with <strong>asterisks</strong> or <strong>underscores</strong>.</p>
<p>Combined emphasis with <strong>asterisks and <em>underscores</em></strong>.</p>
<h2 id="lists">Lists</h2>
<ol>
<li>First ordered list item</li>
<li>Another item</li>
</ol>
<ul>
<li>Unordered sub-list. </li>
</ul>
<ol>
<li>
<p>Actual numbers don't matter, just that it's a number</p>
</li>
<li>
<p>Ordered sub-list</p>
</li>
<li>
<p>And another item.</p>
<p>Some text that should be aligned with the above item.</p>
</li>
</ol>
<ul>
<li>Unordered list can use asterisks</li>
</ul>
<ul>
<li>Or minuses</li>
</ul>
<ul>
<li>Or pluses</li>
</ul>
<h2 id="links">Links</h2>
<p><a href="https://www.google.com">I'm an inline-style link</a></p>
<p><a href="https://www.mozilla.org">I'm a reference-style link</a></p>
<p><a href="http://slashdot.org">You can use numbers for reference-style link definitions</a></p>
<p>Or leave it empty and use the <a href="http://www.reddit.com">link text itself</a></p>
<p>Some text to show that the reference links can follow later.</p>
<h2 id="images">Images</h2>
<p>Here's our logo (hover to see the title text):</p>
<p>Inline-style: 
<img src="https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png" alt="alt text" title="Logo Title Text 1" /></p>
<p>Reference-style: 
<img src="https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png" alt="alt text" title="Logo Title Text 2" /></p>
<p>hello world</p>
<h2 id="code-and-syntax-highlighting">Code and Syntax Highlighting</h2>
<pre data-lang="rust" style="background-color:#2b303b;color:#c0c5ce;" class="language-rust "><code class="language-rust" data-lang="rust"><span style="color:#b48ead;">fn </span><span style="color:#8fa1b3;">main</span><span>() {
</span><span>    </span><span style="color:#b48ead;">let</span><span> n = </span><span style="color:#d08770;">5</span><span>;
</span><span>
</span><span>    </span><span style="color:#b48ead;">if</span><span> n &lt; </span><span style="color:#d08770;">0 </span><span>{
</span><span>        print!(&quot;</span><span style="color:#d08770;">{}</span><span style="color:#a3be8c;"> is negative</span><span>&quot;, n);
</span><span>    } </span><span style="color:#b48ead;">else if</span><span> n &gt; </span><span style="color:#d08770;">0 </span><span>{
</span><span>        print!(&quot;</span><span style="color:#d08770;">{}</span><span style="color:#a3be8c;"> is positive</span><span>&quot;, n);
</span><span>    } </span><span style="color:#b48ead;">else </span><span>{
</span><span>        print!(&quot;</span><span style="color:#d08770;">{}</span><span style="color:#a3be8c;"> is zero</span><span>&quot;, n);
</span><span>    }
</span><span>}
</span></code></pre>
<h2 id="blockquotes">Blockquotes</h2>
<blockquote>
<p>Blockquotes are very handy in email to emulate reply text.
This line is part of the same quote.</p>
</blockquote>
<h2 id="horizontal-rule">Horizontal Rule</h2>
<hr />



    <nav>
        
            <a href="https://zola-themes-demos.github.io/course/guide/">⇦ Page précédente</a>
        
        
        
    </nav>



    <!-- <% if current_page.data.prev || current_page.data.next %>
        <nav>
          <% if current_page.data.prev %>
            <a href="/<%= current_page.data.prev %>">⇦ Page précédente</a>
          <% end%>
          <% if current_page.data.next %>
            <a href="/<%= current_page.data.next %>">Page suivante ⇨</a>
          <% end%>
        </nav>
        <% end %> -->
  </main>
  <footer>
    <p>Ce cours est <a href="https:&#x2F;&#x2F;github.com&#x2F;me&#x2F;my-course">modifiable par tous</a>.</p>
    <p>Il est sous licence GPLv3.0.</p>
  </footer>
  <script src="https://zola-themes-demos.github.io/course/theme.js" integrity="sha384-6r35zGFpokRvH+f/QNl+jia1+5Xqg4mWTiIL43kLNjMv//Po/P7ypL4mD9BqZc9q"></script>
</body>

</html>
