




<!DOCTYPE HTML>
<html lang="fr" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <link rel="icon" type="image/svg+xml" href="https:&#x2F;&#x2F;www.getzola.org&#x2F;favicon.ico" />
  <meta property="og:title" content="Guide ⋅ Demo course" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="fr_FR" />
  <meta property="og:site_name" content="Demo course" />
  <meta property="og:url" content="https:&#x2F;&#x2F;zola-themes-demos.github.io&#x2F;course&#x2F;guide&#x2F;" />
  <meta property="og:description" content="" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Guide ⋅ Demo course" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:url" content="https:&#x2F;&#x2F;zola-themes-demos.github.io&#x2F;course&#x2F;guide&#x2F;" />
  <meta name="twitter:card" content="summary" />
  
  
  <meta property="og:image" content="https://zola-themes-demos.github.io/course/https://images.unsplash.com/photo-1550684848-fac1c5b4e853?w=1770&q=80" />
  <meta name="twitter:image" content="https://zola-themes-demos.github.io/course/https://images.unsplash.com/photo-1550684848-fac1c5b4e853?w=1770&q=80" />
  
  <title>Guide ⋅ Demo course</title>
  <link rel="stylesheet" href="/site.css" media="all">
  
  <style>
    * {
      --primary: #2686d1;

      --accent: #9b68bc;
    }
  </style>
</head>

<body>
  <header>
    <h1><a href="/">Demo course</a></h1>
    <img src="https:&#x2F;&#x2F;www.getzola.org&#x2F;favicon.ico" alt="The Zola logo : a white Z on a black square" style="border: none; width: 50px;" />
  </header>
  
  <main>
    
    
    
    
    <a href="https:&#x2F;&#x2F;zola-themes-demos.github.io&#x2F;course&#x2F;">Home</a>
    
    <h1>Guide</h1>
    
    







    
    
    


<p>This is the first (and only part) of this course. It explains how the theme works.</p>


<ol class="toc">

    <li>
        <a href="https:&#x2F;&#x2F;zola-themes-demos.github.io&#x2F;course&#x2F;guide&#x2F;features&#x2F;">Features</a>
        <p>A quick overview of the features of this theme</p>
    </li>

    <li>
        <a href="https:&#x2F;&#x2F;zola-themes-demos.github.io&#x2F;course&#x2F;guide&#x2F;installation&#x2F;">Installation and configuration</a>
        <p>How to use this theme</p>
    </li>

</ol>


    <nav>
        
        
        
            <a href="https:&#x2F;&#x2F;zola-themes-demos.github.io&#x2F;course&#x2F;guide&#x2F;features&#x2F;">Page suivante ⇨</a>
        
    </nav>



    <!-- <% if current_page.data.prev || current_page.data.next %>
        <nav>
          <% if current_page.data.prev %>
            <a href="/<%= current_page.data.prev %>">⇦ Page précédente</a>
          <% end%>
          <% if current_page.data.next %>
            <a href="/<%= current_page.data.next %>">Page suivante ⇨</a>
          <% end%>
        </nav>
        <% end %> -->
  </main>
  <footer>
    <p>Ce cours est <a href="https:&#x2F;&#x2F;github.com&#x2F;me&#x2F;my-course">modifiable par tous</a>.</p>
    <p>Il est sous licence GPLv3.0.</p>
  </footer>
  <script src="/theme.js"></script>
</body>

</html>