






<!DOCTYPE HTML>
<html lang="fr" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="Demo site for the Course Zola theme
" />
  <link rel="icon" type="image/svg+xml" href="https:&#x2F;&#x2F;www.getzola.org&#x2F;favicon.ico" />
  <meta property="og:title" content="Home ⋅ Demo course" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="fr_FR" />
  <meta property="og:site_name" content="Demo course" />
  <meta property="og:url" content="https:&#x2F;&#x2F;zola-themes-demos.github.io&#x2F;course&#x2F;" />
  <meta property="og:description" content="Demo site for the Course Zola theme
" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Home ⋅ Demo course" />
  <meta name="twitter:description" content="Demo site for the Course Zola theme
" />
  <meta name="twitter:url" content="https:&#x2F;&#x2F;zola-themes-demos.github.io&#x2F;course&#x2F;" />
  <meta name="twitter:card" content="summary" />
  
  <meta property="og:image" content="https:&#x2F;&#x2F;zola-themes-demos.github.io&#x2F;course&#x2F;illus.jpg" />
  <meta name="twitter:image" content="https:&#x2F;&#x2F;zola-themes-demos.github.io&#x2F;course&#x2F;illus.jpg" />
  
  <title>Home ⋅ Demo course</title>
  <link rel="stylesheet" href="/site.css" media="all">
  
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Course",
      "name": "Demo course",
      "description": "This is a demo course to showcase the theme",
      "provider": {
        "@type": "Person",
        "name": "Baptiste Gelez",
        "sameAs": "https://baptiste.gelez.xyz"
      }
    }
    </script>
  
  <style>
    * {
      --primary: #2686d1;

      --accent: #9b68bc;
    }
  </style>
</head>

<body>
  <header>
    <h1><a href="/">Demo course</a></h1>
    <img src="https:&#x2F;&#x2F;www.getzola.org&#x2F;favicon.ico" alt="The Zola logo : a white Z on a black square" style="border: none; width: 50px;" />
  </header>
  
  <section class="illus" style="background-image: url('https:&#x2F;&#x2F;zola-themes-demos.github.io&#x2F;course&#x2F;illus.jpg')"></section>
  
  <main>
    
    

<p>You can write an introduction text here.</p>


<ol class="toc">
    
    
    <li><a href="https:&#x2F;&#x2F;zola-themes-demos.github.io&#x2F;course&#x2F;guide&#x2F;">Guide</a>
        <ol>
            
            <li><a href="https:&#x2F;&#x2F;zola-themes-demos.github.io&#x2F;course&#x2F;guide&#x2F;features&#x2F;">Features</a></li>
            
            <li><a href="https:&#x2F;&#x2F;zola-themes-demos.github.io&#x2F;course&#x2F;guide&#x2F;installation&#x2F;">Installation and configuration</a></li>
            
        </ol>
    </li>
    
</ol>


    <!-- <% if current_page.data.prev || current_page.data.next %>
        <nav>
          <% if current_page.data.prev %>
            <a href="/<%= current_page.data.prev %>">⇦ Page précédente</a>
          <% end%>
          <% if current_page.data.next %>
            <a href="/<%= current_page.data.next %>">Page suivante ⇨</a>
          <% end%>
        </nav>
        <% end %> -->
  </main>
  <footer>
    <p>Ce cours est <a href="https:&#x2F;&#x2F;github.com&#x2F;me&#x2F;my-course">modifiable par tous</a>.</p>
    <p>Il est sous licence GPLv3.0.</p>
  </footer>
  <script src="/theme.js"></script>
</body>

</html>